
<div id="form_CateList">
    <h4>DANH SÁCH SẢN PHẨM</h4>
    <ul id="list_Cate">
        <li>...</li>
        <img src="" alt="" id="cateImage_Detail">
    </ul>
</div><hr>
<div id="form_AddNewCate">
    <h4>THÊM NHÓM SẢN PHẨM</h4>
    <input type="file" name="hinh_sp_moi" id="product_Image">
    <input type="text" name="ten_sp_moi" placeholder="Category name" id="cate_Name">
    <input type="button" name="them_sp_moi" value="Add new" id="butt_AddNewCate">
    <input type="hidden" id="file_ImageCate">
 
</div><hr>
<div id="form_UpdateCate">
    <h4>THAY ĐỔI NHÓM SẢN PHẨM</h4>
    
    <input type="file" name="" id="product_image_Detail">
    <input type="text" name="" placeholder="Category name" id="cateName_Detail">
    <input type="button" id="butt_Update_Cate" value="Update">
    <input type="button" id="butt_Delete_Cate" value="Delete">
    
    <input type="hidden" name="image_Name" id="file_ImageCate_Detail">
    <input type="hidden" name="id_Cate" id="idCate_Detail">

    <img src="" alt="" id="cate_Detail">
</div>