<!-- list city dang co -->
<h4>DANH SÁCH THÀNH PHỐ :</h4>
<ul id="city_List"></ul><hr>

<!-- add new city -->
<div id="city_formAddNew">THÊM THÀNH PHỐ MỚI
    <input type="text" name="cityName" id="cityName" placeholder="City name">
    <input type="button" value="Add new" id="butt_AddNewCity">
</div><hr>

<!-- Update/delete city -->
<div id="city_formUpdate">CẬP NHẬT THÀNH PHỐ
    <input type="hidden" name="cityID_hidden" id="cityID_hidden" value="" />
    <input type="text" name="cityName" id="cityName_Update" placeholder="City name">
    <input type="button" value="Update" id="butt_UpdateCity">
    <input type="button" value="Delete" id="butt_DeleteCity">
</div><hr>